# General ICMP detection for any source
alert icmp any any -> $HOME_NET any (msg:"ICMP Traffic Detected"; sid:1000003; rev:1;)

# SSH brute force detection
alert tcp $EXTERNAL_NET any -> $HOME_NET 22 (msg:"SSH Brute Force Attack"; sid:1000002; rev:1;)

# ICMP detection specifically for public IP traffic
alert icmp 34.229.89.41 any -> $HOME_NET any (msg:"ICMP Traffic Detected from Public IP"; sid:1000004; rev:1;)

# Brute-force attempt on RDP
alert tcp any any -> $HOME_NET 3389 (msg:"Brute-force attempt on RDP"; sid:200001; rev:1;)